.env
.env.*
!.env.example
venv/
__pycache__/
*.py[cod]
temp.png
temp*.png
.pm2/
node_modules/
dist/
logs/
*.log
*.pid
*.sqlite
*.sqlite3
cookies/
cookie/
*cookie*
*Cookie*
*cooke*
*Cooke*
*.har
screenshots/
